@page "/"
@rendermode InteractiveServer
@using blazorChess.Components.Pages.Logic

<h1>Im poggin out</h1>

<div id="chessboard">
    @for (int file = 0; file < 8; file++)
    {

        @for (int rank = 0; rank < 8; rank++)
        {
            int currentSquare = BoardClass.Squares[squareIndex];
            string imageName = $"{Convert.ToString(currentSquare, 2)}.svg"; 

            bool isLightSquare = (file + rank) % 2 != 0;
            string squareColor = isLightSquare ? "light-square" : "dark-square";

            <div class="boardSquare @squareColor" title="@Convert.ToString(currentSquare, 2)">
                @if (currentSquare != 0) {
                    <img src="images/pieces/@imageName" alt="piece">
                }
            </div>
            squareIndex++;
        }
    }
</div>

@code {
    public int squareIndex = 0;
    protected override void OnInitialized()
    {
        Console.WriteLine("Page has loaded, initializing board");
        BoardClass.Board();

    }
}
